[Unit]
Description=Container service for backing up opnsense
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=opnsense-bkp.build
Volume=${CONTAINER_PATH}/config:/config:Z
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
